@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap');

body{
	display: flex;
	flex-flow: column;
	background: #14110F;
	font-family: sans;
}

header{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	font-family: comfortaa,sans;
	color: #F3F3F4; 
	background: #4d4d4d;
	border-radius: 20px;
	padding: 4vmin;
	gap: 4vmin;
	margin: 4%;
	margin-bottom: 8%;
	text-align: center;
}

.info{
	display: flex;
	flex-flow: column;
	gap: 10px;
}

.gameOptions{
	display: flex;
	justify-content: space-around;
}

.option{
	font-size: large;
	padding: 2vmin;
	border-radius: 10px;
	background: #4d4d4d;
	color: #F3F3F4;
  transition: background 0.5s ease;
}

.option:hover{
	background: #737373;
}
